################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Simple Console Calculator/v17/Browse.VC.opendb
